@keyframes slideup {
    0% {
        transform: translate(-50%, -63%) scale(1.02);
        
    }
    50% { transform: translate(-50%, -48%) scale(0.99) }
    60% { transform: translate(-50%, -49%) scale(0.995) }
    100% {
        transform: translate(-50%, -50%) scale(1.);
    }
}


@keyframes cloudslideinL {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes cloudslideinR {
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}